<h2>Family Pictures</h2>

<form id="addPicture">
  <input type="text" placeholder="Picture URL" id="pictureURL">
  <input type="text" placeholder="Picture Title" id="pictureTitle">
  <input type="text" placeholder="Picture Description" id="pictureDesc">
  <button> Submit </button>
</form>

<ul>
  {{#each picture}}
    <li data-id="{{_id}}">
      <figure>
        <a class="gallery" href="#picture/{{_id}}"><img src="{{url}}" alt=""></a>
        <figcaption> {{title}} : {{description}} </figcaption>
      </figure>
    </li>
  {{/each}}
</ul>
